@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#lblSistemaAcademico {
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-background-color: #29a58c;
}

.backgroundBtn {
    -fx-background-color: #29A58C;
    -fx-pref-width: 250;
}
