@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');		

*{
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-spacing: 1em;
    -fx-font-size: 1em;
}

.h1{
    -fx-font-size: 100;
}

.header{
    -fx-background-color: #29a48c;
    -fx-padding: 10px;
}

.container{
    -fx-padding: 10px;
}

.header .label, .header .h1{
    -fx-text-fill: #fff;
    -fx-font-size: 3em;
}

.generalLabel{
    -fx-text-fill: #29a48c;
    -fx-font-size: 1em;
}

.generalInput{
    -fx-border-color: #9e9e9e;
    -fx-border-width: 0 0 2px 0;
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

.greenBtn{
    -fx-focus-color: transparent;
    -fx-background-color: #29a48c;
    -fx-padding: 1em 3em;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 1);
}

.blueBtn, #altera{
    -fx-focus-color: transparent;
    -fx-background-color: #3d56b0;
    -fx-padding: 1em 3em;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 1);
}

.redBtn, #deleta{
    -fx-focus-color: transparent;
    -fx-background-color: #e53935;
    -fx-padding: 1em 3em;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 1);
}

.greenBtn:hover, .blueBtn:hover, .redBtn:hover, #deleta:hover, #altera:hover{
    -fx-cursor: hand;
}

.botaoDeletar{
    -fx-background-color: red;
}

.greenBtn:pressed, .blueBtn:pressed, .redBtn:pressed, #deleta:pressed, #altera:pressed{
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-scale-z: 0.98;
}

.table-view{
    -fx-background-color: transparent;
}

.column-header{
	-fx-text-fill: #646464;
	-fx-background-color: transparent;
	-fx-border-width: 0 0 1px 0;
	-fx-border-color: #646464;
}

.column-header > *{
	-fx-text-fill: #646464;
}

.column-header-background{
    -fx-background-color: transparent;
}

.menu-bar .label{
    -fx-text-fill: #fff;
}